.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-row-gap: 10px;
    padding: 5px;
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .header {
          grid-area:"header header header "
  }
  
  .main {
        grid-area:
        "main main main"
        "main main main";
        grid-template-columns: auto auto auto;
        
  }
  .featured-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
   
  .article-cards {
    min-height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
  
  .footer {
          grid-area:"footer footer footer"
  }
  .card {
    min-height: 35rem;
    max-width: 23rem;
  }
   
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
   
  